@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 18%;
    background-color: #EDECEF;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 0.9em;
}

li a {
    display: flex;
    color: #633256;
    padding: 0.7em;
    margin-right:1em;
    margin-left: 1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-decoration: none;
}

li a .nav{
    padding-left: 1em;
}

li a.active {
    background-color: #633256;
    color: white;
}

li a:hover:not(.active) {
    background-color: #633256;
    color: white;
    border-radius: 0.3em;
}
h1{
    text-align: center;
    padding: 1.5em;
}

@media (max-width:1100px){
    li .nav{
        display: none;
    }
    .icon{
        text-align: center;
        align-items: center;
    }
}