.paper{
    padding: 2em;
    text-align: center;
    align-items: center;
}
.comerciales{
    /*font-family: 'Anton', sans-serif;*/
    color: #d98643;
}
.ver_proveedores{
    text-decoration: none;
}

.noicon_comerciales{
    text-align: left;
}