.paper{
    padding: 2em;
    text-align: center;
    align-items: center;
}
.comerciales{
    /*font-family: 'Anton', sans-serif;*/
    color:#633256;
}
.ver_proveedores{
    text-decoration: none;
}

.noicon_comerciales{
    text-align: center;
}

@media (max-width:1100px){
}