/* .topnav {
    background-color: #EDECEF;
    width: 82%;
    float: right;
    height: 4em;
    padding: 0.5em;
}
  
.buscar {
    padding: 1em;
}
.cuenta{
    align-items: center;
    text-align: center;
}
.buscar:hover {
    color: #ddd;
}

@media (max-width:1000px){
    .cuenta{
        align-items: right;
        text-align: right;
    }
} */
/* .logo{
    font-size:1.1em;
    color: rgb(43, 42, 42);
    text-align: center;
    font-family: 'Anton', sans-serif;
    letter-spacing:1em;
} */
