.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 0.5em;
    margin-left: 20%;
    float: left;
    width: 79%;
}
  
.topnav a {
    display: block;
    text-align: center;
    text-decoration: none;
}

.topnav a:hover {
    color: #ddd;
}

.topnav a.active {
    color: white;
    text-align: left;
    margin-right: 15%;
}
