/* .container{
    margin-left:18%;
    padding: 2em;
<<<<<<< HEAD
} */
=======
<<<<<<< HEAD
    vertical-align: middle;
    justify-content: center;
    align-items:center;
}
=======
} */
>>>>>>> d0e0d66f01f40035b3e20fe3f6bb912893618e35
>>>>>>> d0d69e87119b2109f85e432a9669b7a084f13d62
