/* .container{
    margin-left:18%;
    padding: 2em;
<<<<<<< HEAD
    vertical-align: middle;
    justify-content: center;
    align-items:center;
}
=======
} */
>>>>>>> d0e0d66f01f40035b3e20fe3f6bb912893618e35
